<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zoom Projection Change Test</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/build/gcds-map.esm.js"></script>
  <style>
    html {height: 100%} 
    body, gcds-map {height: inherit} 
    * {margin: 0; padding: 0;}
  </style>
</head>
<body>
  <!-- this approach doesn't quite work because the map doesn't automatically change projection since
       it actually has 2 layers (despite that one is or should be disabled by them mq) ,  and further,
       you would have to manually / via script set the gcds-map.projection = 'what you want' to get it
       to change projections, although if you do that, it would work.  So maybe the best approach here
       is a combination of a matchMedia script PLUS the declarative media attribute values below .-->
  <gcds-map style="width: 800px;height: 800px" projection="CBMTILE" zoom="8" lat="48.84042" lon="-101.219978" controls>
    <map-layer media="(0 <= map-zoom <= 8)" label="CBMT" src="/test/data/tiles/cbmt/cbmt-changeProjection.mapml" checked></map-layer>
    <map-layer media="(9 <= map-zoom <= 18)" label="CBMT" src="/test/data/tiles/cbmt/osm-changeProjection.mapml" checked></map-layer>  </gcds-map>
</body>
</html>
